  <h1>{{title}}</h1>
  <br>
  <h2>Create New Task</h2>
  <form (submit)='onSubmit()'>
    <label>Task Title: <input type="text" name="newTask.title" [(ngModel)]='newTask.title'></label>
    <label>Task Description: <input type="text" name="newTask.description" [(ngModel)]='newTask.description'></label>
    <input type="submit" value="Create">
  </form>
  <br>
  <button (click)='onButtonClick()'>Get All Tasks:</button>
  <br>
  <ul>
    <li *ngFor='let task of tasks; let index = index' (click)='onIdClick(index)'>{{task.title}}<button (click)="onDeleteClick(task)">Delete</button></li>
    <app-task *ngIf='comp' [task]='task'></app-task>
  </ul>
  <br>
  
  

<router-outlet></router-outlet>